@import "styles/open-color.scss";

.messenger {
  .account {
    padding: 2px;

    .nickname-input {
      width: 100%;
    }
  }

  .messages-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    gap: 0.5rem;

    padding: 1rem;
  }

  .new-message-container {
    bottom: 0;

    margin-top: auto;

    width: 100%;

    padding: 2px;

    display: flex;
    gap: 4px;

    align-items: center;

    .new-message-input {
      width: 100%;
    }
  }
}